FABRIC_SERVER=
FABRIC_DATABASE=
FABRIC_SCHEMA=
FABRIC_TABLE=
FABRIC_DRIVER={ODBC Driver 18 for SQL Server}

AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=

AZURE_MS_AUTH_CLIENT_ID=
AZURE_MS_AUTH_CLIENT_SECRET=
AZURE_MS_AUTH_TENANT_ID=
AZURE_MS_AUTH_REDIRECT_URI=http://localhost:8000/auth/callback

FRONTEND_URL=http://localhost:5173